.profile {
  display: flex;
  align-items: center;
}

.profile > img {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
}

.profile > div {
  margin-left: 1.5rem;
}

.profile > div > strong {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--title);
}

.profile > div > p {
  font-size: 1rem;
  margin-top:  0.5rem;
}

.profile > div > p > img {  
  margin-right: 0.5rem;
}